.suggestion {
    margin: 50px;
    padding: 25px 50px;
    background-color: aliceblue;
    border-radius: 10px;
}

.suggestion > h1 {
    margin-bottom: 40px;
}

.passwordSuggestionPoints > li {
    font-size: large;
    margin: 20px 0;
}

@media screen and (max-width: 720px) {
    .suggestion {
        margin: 0;
        padding: 20px 40px;
    }
    .suggestion > h1 {
        font-size: 30px;
    }
}