.passwordReset {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.passwordResetForm {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: 35vw;
    height: 75%;
}

.send-otp-btn, .verify-btn {
    cursor: pointer;
    font-size: large;
    padding: 10px 25px;
    background-color: cadetblue;
    color: black;
    transition: .25s ease-in;
    width: 100%;
    font-size: large;
    margin: 25px 0;
}

.send-otp-btn:hover, .verify-btn:hover {
    color: white;
    background-color: rgb(46, 196, 201);    
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.Enter-Email, .Enter-Code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.Enter-Email > label, .Enter-Code > label {
    font-size: 22px;
}

.Enter-Email > input, .Enter-Code > input {
    width: 25vw;
}

.verify-btn {
    display: none;
}

@media screen and (max-width: 720px) {
    .passwordReset {
        height: 100vh;
        justify-content: flex-start;
    }
    .passwordResetForm {
        border: none;
        width: 90%;
        margin: 15px 0;
    }
    .Enter-Email > input, .Enter-Code > input {
        width: 65vw;
    }
}